# MongoDB
MONGODB_URI=mongodb+srv://<user>:<pass>@cluster0.mongodb.net/projectx_courses

# Auth
JWT_SECRET=replace_with_a_long_random_string
JWT_EXPIRES_IN=7d

# UPI Payment Intent
NEXT_PUBLIC_UPI_ID=projectxhub@upi
NEXT_PUBLIC_UPI_PAYEE_NAME=ProjectX Hub

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
CERT_SIGNATORY_NAME="Prince Verma"
CERT_SIGNATORY_TITLE="Founder, ProjectX Hub"
